@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --green: #36b37e;
  --dark-blue: #172b4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 2rem 9%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .logo {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(59, 58, 58);
}

.header .navbar .menu {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.header .navbar ul {
  display: none;
}

section .hero {
  position: relative;
  top: 60px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(./images/capt.png);
  width: 375px;
  height: 492px;
  background-repeat: repeat-y;
  background-position: 100px right;
  background-size: cover;
}

section .hero h1 {
  padding-top: 30px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

section .hero h1 span {
  color: var(--green);
}

section .hero p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

section .social-icon {
  padding-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  list-style: none;
}

section .social-icon img {
  width: 20px;
  cursor: pointer;
  color: var(--green);
}

section .angle img {
  width: 30px;
}

.works .indicator img {
  width: 35px;
  font-weight: 700;
  padding-top: 15px;
}

section .social-icon img:hover {
  color: var(--dark-blue);
}

section .angle {
  padding-top: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.works .indicator {
  padding: 85px;
  text-align: center;
}

.works .indicator .heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.works .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.works .box-container .box {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.works .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.contact footer .social-link li a img {
  width: 20px;
}

.contact .row .social-link li a img {
  width: 22px;
  height: auto;
  object-fit: cover;
}

.works .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.works .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 1px solid #808080;
}

.contact .row h3 {
  font-size: 35px;
  font-weight: 700;
  color: var(--dark-blue);
  text-align: center;
  padding: 0 30px;
}

.works .box-container .box h3 {
  font-size: 2rem;
  color: var(--dark-blue);
  font-weight: 700;
}

.works .box-container .box ul {
  list-style: none;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.works .box-container .box ul li {
  padding: 0.5rem;
  border: 0.1rem solid #f7f2f2;
  background: #d8dbda;
}

.about .profile .btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--green);
  color: #fff;
  cursor: pointer;
  background: var(--green);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
}

.about .btn:hover {
  background: #19744e;
  color: #fff;
}

.works .box-container .box .btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--green);
  color: #fff;
  cursor: pointer;
  background: var(--green);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
}

.about {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.about .side-1 {
  position: absolute;
  top: 20px;
  right: -1rem;
  width: 68px;
}

.about .profile h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: var(--dark-blue);
  text-align: center;
  padding-top: 35px;
}

.about .profile p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  color: #42526e;
}

.about .side-2 {
  position: absolute;
  bottom: 0;
  left: -1.5rem;
  width: 78px;
}

.skills .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  text-align: center;
}

.skills .row .col {
  text-align: center;
  padding-left: 16px;
  padding-right: 25px;
  padding-top: 30px;
}

.skills .row .col .lang {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.skills .row .col .lang img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.skills .row .col .lang .icons {
  position: absolute;
  top: 20px;
  left: 70px;
  padding-left: 22px;
  text-align: center;
}

.skills .row .col .lang .icons .frame {
  width: 80px;
  padding-bottom: 40px;
}

.skills .row .col .lang h3 {
  font-size: 20px;
  text-align: center;
  color: #344563;
  font-weight: 600;
  padding-bottom: 20px;
}

.skills .row .col .lang ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.skills .row .col .lang ul li {
  padding: 0.5rem;
  border: 0.1rem solid #fff;
  background: #fff;
  color: #36b37e;
}

.skills .row .col .lang ul li a {
  color: #36b37e;
}

.skills .row .col .lang .icons-1 {
  position: absolute;
  top: 20px;
  left: 40px;
  padding-left: 24px;
  padding-right: 50px;
  text-align: center;
}

.skills .row .col .lang .icons-1 .frame {
  width: 80px;
  padding-bottom: 40px;
}

.skills .row .col .lang .icons-2 {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-left: 24px;
  padding-right: 48px;
  text-align: center;
}

.skills .row .col .lang .icons-2 .frame {
  width: 80px;
  padding-bottom: 40px;
}

.contact .row {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}

.contact .row form {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}

.contact .row form input {
  padding: 13px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  margin-top: 15px;
}

.contact .row textarea {
  border: 1px solid #b4f0cf;
  border-radius: 4px;
  padding: 13px;
  margin-top: 15px;
  width: 100%;
  height: 15rem;
  resize: none;
}

.contact .row button {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--green);
  color: #fff;
  cursor: pointer;
  background: var(--green);
  font-size: 1.5rem;
  padding: 1.2rem 1.5rem;
  border-radius: 3px;
}

.contact .row button:hover {
  background: #19744e;
  color: #fff;
}

.contact .row .side-image {
  position: relative;
  padding-top: 40px;
}

.contact .row .div-image {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.contact footer {
  text-align: center;
}

.contact footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 18px;
  margin-bottom: 10px;
}

.contact footer h4 {
  font-weight: 400;
  font-size: 16px;
  color: #42526e;
  margin-bottom: 10px;
}

.contact .row .div-img-2,
.contact .row .div-img {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header .navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .header .navbar ul li a {
    font-size: 1.8rem;
    margin-left: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--dark-blue);
  }

  .header .logo,
  .header .menu {
    display: none;
  }

  section .hero {
    background-image: url(./images/background.png);
    width: 76%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .works {
    width: 100%;
    max-width: 1060px;
    margin: 100px auto;
  }

  .works .box-container .box {
    text-align: center;
  }

  .skills {
    width: 100%;
    max-width: 998px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 20px;
  }

  .skills .row {
    width: 109%;
  }

  .skills .row .col {
    width: 100%;
    padding-left: 10px;
  }

  .skills .row .col .lang .icons-1 {
    width: 100%;
    padding-right: 20px;
    padding-left: 5px;
    left: 5px;
  }

  .skills .row .col .lang .icons {
    left: 45px;
    text-align: center;
  }

  .skills .icons-2 {
    width: 100%;
    padding-right: 20px;
    padding-left: 5px;
    left: 10px;
  }

  section .hero h1 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    max-width: 58vw;
    padding-left: 250px;
    padding-right: 30px;
    text-align: center;
    color: var(--dark-blue);
  }

  section .hero h1 span {
    color: var(--green);
  }

  section .hero p {
    padding-top: 30px;
    font-size: 18px;
    max-width: 60vw;
    padding-left: 250px;
    padding-right: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #42526e;
  }

  .works .indicator img {
    display: none;
  }

  .about {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .about .profile p {
    padding-top: 30px;
    font-size: 20px;
    max-width: 82vw;
    padding-left: 250px;
    padding-right: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    color: #42526e;
  }

  .about .side-1 {
    top: 0;
    width: 10%;
  }

  .about .side-2 {
    bottom: 0;
    width: 10%;
  }

  .contact .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    width: 100%;
    max-width: 1060px;
    text-align: left;
  }

  .contact .row .box h3 {
    font-size: 25px;
    line-height: 32px;
    color: var(--dark-blue);
    padding-top: 100px;
  }

  .contact .row .box {
    position: relative;
    width: 100%;
  }

  .contact .row .div-img {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 110px;
  }

  .contact .row .div-img-2 {
    position: absolute;
    bottom: -30px;
    left: 250px;
    width: 110px;
    height: 54px;
  }

  .contact .row .div-img-2,
  .contact .row .div-img {
    display: block;
  }

  .contact footer .social-link {
    border-top: 1px solid #dfe1e6;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    transition: 0.3s ease-in;
  }

  .contact footer .social-link li a img {
    width: 20px;
    margin-left: 1.5rem;
    transform: translateY(-10px);
  }

  .contact footer .social-link li a img:hover {
    transform: translateY(10px);
  }

  .contact footer h4 {
    display: none;
  }

}