@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --green: #36b37e;
  --dark-blue: #172b4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 375px;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 2rem 9%;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(59, 58, 58);
}

.header .navbar .menu {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

section {
  position: relative;
  top: 75px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(./images/capt.png);
  width: 375px;
  height: 492px;
  background-repeat: repeat-y;
  background-position: 100px right;
  background-size: cover;
}

section .hero h1 {
  padding-top: 30px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

section .hero h1 span {
  color: var(--green);
}

section .hero p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

section .social-icon {
  padding-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  list-style: none;
}

section .social-icon img {
  width: 20px;
  cursor: pointer;
  color: var(--green);
}

section .angle img {
  width: 30px;
}

section .social-icon img:hover {
  color: var(--dark-blue);
}

section .angle {
  padding-top: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.works .indicator {
  padding: 60px;
  text-align: center;
}

.works .indicator .heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.works .indicator img {
  width: 35px;
  font-weight: 700;
  padding-top: 15px;
}

.works .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.works .box-container .box {
  text-align: center;
}

.works .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.works .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.works .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 1px solid #808080;
}
.works .box-container .box h3 {
  font-size: 2rem;
  color: var(--dark-blue);
  font-weight: 700;
}

.works .box-container .box ul {
  list-style: none;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.works .box-container .box ul li {
  padding: 0.5rem;
  border: 0.1rem solid #f7f2f2;
  background: #d8dbda;
}

.works .box-container .box .btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--green);
  color: #fff;
  cursor: pointer;
  background: var(--green);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
}

.works .box-container .box .btn:hover {
  background: #2bca88;
  color: #fff;
}
